h1, h2{
    text-align: center;
}

.elejekep{max-width: 500px;
    max-height: 300px;
}

.elsoajobb{text-align: right;
align-items: end;}


.kozepkep{
    align-self: center;
    align-items: center;
}


.otjobb{
align-items: end;


}





























